# --- Core Backend ---
fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.5.0

# --- Data & ML ---
scikit-learn==1.7.2
pandas==2.1.4
numpy==1.26.2
joblib==1.3.2
xgboost==2.0.2

# --- Frontend ---
streamlit==1.42.0
extra-streamlit-components

# --- Utilities ---
requests==2.31.0
python-dotenv==1.0.0
psycopg2-binary==2.9.9
fpdf2

# --- AI API ---
groq==0.15.0
catboost==1.2.2